* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}

body{

    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(180deg, black, rgb(15, 16, 31));
    height: 100vh;
}

header { 
    background-color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4.5rem;
    margin: 0 2rem;
    padding: 1rem;

}
ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.menu-hamburguer {
   cursor: pointer;
   width: 3.2rem;
}
.one {
    margin-top: 0.8rem;
}
.one, .two, .three {
    height: 0.2rem;
    width: 100%;
    background-color: black;
    margin-bottom: 0.8rem;
    transition: transform 0.4s;
}

.menu-mobile.show .menu-hamburguer .two{
    opacity: 0;
   
}
.menu-mobile.show .menu-hamburguer .one{
    transform: rotate(-45deg) translate(-15px, 14px);
    background-color: white;
}
.menu-mobile.show .menu-hamburguer .three{
    transform: rotate(45deg) translate(0px, 0px);
    background-color: white;
  
    
}

.menu-toggle {
    display: none;
    
}
.menu-mobile.show .menu-toggle {
    display: block;
    position: fixed;
    background: linear-gradient(0deg, rgb(15, 16, 31), black);
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

.menu-mobile.show .menu-toggle ul {
  display: grid;
  place-content: center;
  margin-top: 4.5rem;
  
}
.menu-mobile.show .menu-toggle ul li {
    text-align: center;
    margin: 1.5rem;    
}
.menu-mobile.show .menu-toggle ul li a {
    display: block;
    color: white; 
    padding: 1rem;  
    position: relative; 
    
}
.menu-mobile.show .menu-toggle ul li a::after {
    content: '';
    position: absolute;
    left:0;
    bottom: 0;
    height: 2px;
    width: 0%;
    background-color:yellow;
    transition: width 0.4s;
}
.menu-mobile.show .menu-toggle ul li a:hover::after {
    width: 100%;    
}