* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}

:root {
    --altura-do-header: 7.2rem
}

body{

    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(180deg,rgb(6, 6, 66), black);
    height: 100vh;
}

header { 
    background-color: white;
}
.container {
    margin: 0 2rem;
    padding: 1rem;

}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--altura-do-header);
   
    

}
ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}
.paranhos {
    font-size: 2rem;
    color: black;
    font-weight: 700;
}
.dev {
    font-weight: 700;
    color: rgb(5, 5, 123);
    font-size: 2rem;
}

.menu-hamburguer {
   cursor: pointer;
   width: 3.2rem;
}
.one {
    margin-top: 0.8rem;
}
.one, .two, .three {
    height: 0.3rem;
    width: 100%;
    background-color: black;
    margin-bottom: 0.8rem;
    transition: transform 0.4s;
}

.menu-mobile.show .menu-hamburguer .two{
    opacity: 0;
   
}
.menu-mobile.show .menu-hamburguer .one{
    transform: rotate(-45deg) translate(-16px, 15px);
    background-color: white;
}
.menu-mobile.show .menu-hamburguer .three{
    transform: rotate(45deg) translate(0px, 0px);
    background-color: white;
}

.menu-toggle {
    display: none;
    
}
.menu-mobile.show .menu-toggle {
    display: block;
    position: fixed;
    background: linear-gradient(180deg, rgb(15, 16, 31), rgb(0, 0, 0));
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

.menu-mobile.show .menu-toggle ul {
  display: grid;
  place-content: center;
  margin-top: var(--altura-do-header);
  
}
.menu-mobile.show .menu-toggle ul li {
    text-align: center;
    margin: 1.5rem;    
}
.menu-mobile.show .menu-toggle ul li a {
    display: inline-block;
    color: white; 
    padding: 1rem;  
    position: relative; 
    
}
.menu-mobile.show .menu-toggle ul li a::after {
    content: '';
    position: absolute;
    left:0;
    bottom: 0;
    height: 2px;
    width: 0%;
    background-color: yellowgreen;
    transition: width 0.4s;
}
.menu-mobile.show .menu-toggle ul li a:hover::after {
    width: 100%;    
}