/* ================= RESET ================ */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

/* ================= VARIAVEL ================ */
:root {
    --altura-do-header: 7.2rem
}

.container {
    margin: 0 2rem;
    padding: 1rem;

}
.titulo {
    font-size: 3rem;
    font-weight: 200;
    text-align: center;
}
.nome {
    font-size: 3.8rem;
    font-weight: 500;
}

.button {
    font-weight: 500;
    color: white;
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.357), rgb(30, 22, 87));
    padding: 1.2rem 2rem;
    border-radius: 0.3rem;
    display: inline-block;
    margin: 2rem;  
    border: 0.1rem solid rgb(69, 46, 153);
    transition: padding 0.6s;
}

.button:hover {
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.357), rgb(70, 35, 146));
    padding: 1.2rem 4rem;
}

/* ================= CORPO ================ */
body{

    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(45deg,rgb(6, 6, 66), black);
    height: 100vh;
    color: white;
}

/* ================= CABEÇALHO ================ */

header { 
    background-color: rgba(0, 0, 0, 0.35);
    border-bottom: 0.1rem solid rgba(255, 255, 255, 0.275);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--altura-do-header); 

}

/* ================= LOGO MARCA ================ */
.paranhos {
    font-size: 2rem;
    color: rgb(204, 204, 204);
    font-weight: 600;
 
}
.dev {
    font-weight: 700;
    color: rgb(5, 5, 123);
    text-shadow: 1px 1px 1px white, -1px 1px 1px white, 1px -1px 1px white, -1px -1px 1px white;
    font-size: 2rem;
}

/* ================= MENU MOBILE ================ */
.menu-hamburguer {
   cursor: pointer;
   width: 3.2rem;
  
}
.one {
    margin-top: 0.8rem;
}
.one, .two, .three {
    height: 0.1rem;
    width: 100%;
    background-color: rgb(255, 255, 255);
    margin-bottom: 0.8rem;
    transition: transform 0.2s;
}
.menu-mobile.show .menu-hamburguer {
  
}
.menu-mobile.show .menu-hamburguer .one{
    transform: rotate(-45deg) translate(-7px, 7px);
   
}
.menu-mobile.show .menu-hamburguer .two{
    display: none;
}
.menu-mobile.show .menu-hamburguer .three{
    transform: rotate(45deg) translate(0px, 0px);
   
}

.menu-toggle {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    background: linear-gradient(0deg, rgb(15, 16, 31), rgb(0, 0, 0));
    top: var(--altura-do-header);
    left: -30rem;
    height: 100vh;
    width: 100vw;
    transition: left 0.3s;
    z-index: 0;
}
    
.menu-mobile.show .menu-toggle {
    opacity: 1;
    visibility: visible;
    left: 0;
}

.menu-mobile.show .menu-toggle ul{
    display: grid;
    place-content: center;

}
  
.menu-mobile.show .menu-toggle ul li {
    text-align: center;
    margin: 1.5rem;    
}
.menu-mobile.show .menu-toggle ul li a {
    display: inline-block;
    color: white; 
    padding: 1rem;  
    position: relative; 
    
}

.menu-mobile.show .menu-toggle ul li a::after {
    content: '';
    position: absolute;
    left:0;
    bottom: 0;
    height: 0.2rem;
    width: 0%;
    background-color: yellowgreen;
    transition: width 0.4s;
}
.menu-mobile.show .menu-toggle ul li a:hover::after {
    width: 100%;    
}

/* ================= CONTEUDO ================ */

#sobre {
    margin-top: 9rem;
    text-align: center;
    
    
}